.itemContainer {
    width: 60%;
    align-items: center;
    margin: 20px 0px;
}

.photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.title {
    text-align: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 20px;
}

.price {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
}

.itemLink {
    text-decoration: none;
    color: inherit;
    text-align: left;
}

.itemLink:hover {
    color: #852400;
}

.quantity {
    font-weight: bold;
}

.removeButton {
    color: #DBAC24;
    font-weight: bold;
    margin-left: 25px;
}

.removeButton:hover {
    color: #852400;
    font-weight: bold;
    margin-left: 25px;
    cursor: pointer;
}
  