.coverImage {
    margin-top: 32px;
    object-fit: contain;
    max-width: 500px;
}

.itemInfoContainer {
    text-align: left;
    margin-top: 32px;
    padding: 0px 30px;
}

.imagesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
    margin-top: 32px;
    margin-bottom: 100px;
}

.optionalImage {
    object-fit: contain;
}

.name {
    font-size: 32px;
    font-weight: bold;
    font-family: Texturina;
}

.info {
    font-size: 16px;
    font-weight: bold;
    color: #484848;
}

.description {
    font-size: 18px;
    color: #646464;
    margin: 50px 0px;
}

.quantityContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-top: 2%;
    margin-right: 20px;
    padding-left: 30px;
}

.quantity {
    text-align: center;
    margin-top: 15px;
}

.addToCart {
    text-align: center;
}

.addToCart button{
    width: 100%;
    height: 50px;
    background-color: #852400;
    border: none;
    color: #FFF;
    font-weight: bold;
    margin-bottom: 100px;
}

.addToCart button:hover{
    width: 100%;
    height: 50px;
    background-color: #DBAC24;
    border: none;
    color: #FFF;
}

@media only screen and (max-width: 850px) {
    .coverImage {
        max-width: 400px;
    }
}

@media only screen and (max-width: 650px) {
    .coverImage {
        max-width: 300px;
    }
}
