.pageLayout {
    margin-top: 17px;
}

.pageHeader {
    color: #000;
    text-align: start;
    font-size: 16px;
    background-color: #DBAC24;
    padding: 1% 10%;
    margin-top: 32px;
    width: 100%;
}

.pageHeader span {
    font-weight: bold;
}

.pageContent {
    max-width: 1440px;
    margin: auto;
}
