.pageLayout {
    margin-top: 17px;
}

.pageHeader {
    color: #000;
    text-align: start;
    font-size: 16px;
    background-color: #DBAC24;
    padding: 1% 10%;
    margin-top: 32px;
    width: 100%;
}

.pageHeader span {
    font-weight: bold;
}

.pageContent {
    max-width: 1440px;
    margin: auto;
}

.didYouMeanContainer {
    color: #000;
    text-align: start;
    font-size: 16px;
    background-color: #FAFAFA;
    height: 60px;
    width: 100%;
    padding: 18px 160px;
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.didYouMean {
    margin-left: 320px;
    font-size: 18px;
    color: #000;
}

.suggestion {
    font-size: 18px;
    color: #852400;
    margin: 0px 20px;
    text-decoration: none;
}
.suggestion:hover {
    color: #DBAC24;
}
