.itemsContainer {
    text-align: left;
    margin: 40px auto;
}

.tableHeader { 
    width: 100%;
}

.emptyCartButton {
    background-color: #DBAC24;
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px;
    border: none;
    margin-top: 50px;
    font-weight: bold;
    width: 50%;
}

.emptyCartButton:hover {
    background-color: #852400;
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px;
    border: none;
    margin-top: 50px;
    font-weight: bold;
}

.subtotalContainer { 
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
    text-align: right;
    margin: 10px auto;
}

.subtotalTitle {
    font-weight: bold;
    font-size: 18px;
}

.checkoutButton {
    background-color: #852400;
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px;
    border: none;
    font-weight: bold;
    margin-bottom: 100px;
    width: 50%;
    text-align: center;
}

.checkoutButton:hover {
    background-color: #DBAC24;
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px;
    border: none;
    font-weight: bold;
}

.emptyCart {
    margin-bottom: 200px;
    font-size: 18px;
    font-weight: 500;
    padding: 10%;
}

.tableTitles {
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #DBAC24;
    padding: 10px 0px;
    padding-left: 10px;
    font-weight: bold;
    background-color: #FCFCFC;
}

@media screen and (max-width: 768px) {
    .emptyCartButton {
        width: 100%;
    }
    .checkoutButton {
        width: 80%;
    }
    .tableTitles { 
        font-size: 15px;
    }
}
