.totalContainer {
    margin-bottom: 100px;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.totalContainer span {
    font-size: 24px;
    font-weight: bold;
}

.total {
    font-size: 24px;
}

.totalContainer a{
    background-color: #DBAC24;
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px;
    border: none;
    font-weight: bold;
    width: 50%;
}

.totalContainer a:hover {
    background-color: #852400;
    text-decoration: none;
    color: #FFF;
    padding: 10px 50px;
    border: none;
    font-weight: bold;
    width: 50%;
}

.checkoutContainer {
    padding: 0 6%;
}
