.heroSection {
    width: 100%;
    height: wrap-content;
    background-color: #852400;
    padding-right: 12px;
}

.heroSectionMobile {
    width: 100%;
    height: wrap-content;
    background-color: #852400;
    padding: 0px 30px;
    padding-bottom: 30px;
}

.center {
    text-align: center;
}

.logo {
    margin-top: 10%;
    margin-bottom: 10%;
}

.pageSection {
    margin: 50px;
}

.sectionTitle {
    font-family: 'Texturina';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #852400;
}

.becomeSellerSection {
    width: 100%;
    height: wrap-content;
    background-color: #852400;
    margin: 50px 0px;
    padding-right: 12px;
}

.becomeSellerSectionMobile {
    width: 100%;
    background-color: #852400;
    margin: 50px 0px;
    padding: 30px;
}

.becomeSellerButtonMobile {
    width: 93%;
    height: wrap-content;
    background-color: #852400;
    margin-bottom: 20px;
}

.becomeSellerSection img {
    object-fit: contain;
    height: 400px;
}

.textSection {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.textSection p {
    margin-left: 20%;
    font-family: 'Texturina';
    font-style: normal;
    font-size: 36px;
    color: #FFF;
    text-align: left;
}

.textSection a {
    text-decoration: none;
    padding: 3% 5%;
    font-family: 'Texturina';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #000;
    background-color: #DBAC24;
}

.textSection a:hover {
    text-decoration: none;
    padding: 3% 5%;
    font-family: 'Texturina';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #FFF;
}

@media only screen and (max-width: 1400px) {
    .logo {
        width: 100%;
        height: auto;
        padding-left: 20px;
    }
    .image {
        width: 100%;
        height: auto;
    }
    .becomeSellerSection {
        padding: 2%;
    }
    .textSection p {
        margin-left: 1%;
        font-size: 30px;
    }
    .textSection a {
        font-size: 24px;
    }
    .becomeSellerSection img {
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 800px) {
    .logo {
        width: 100%;
        height: auto;
        padding-left: 20px;
    }
    .image {
        width: 100%;
        height: auto;
    }
    .becomeSellerSection {
        padding: 2%;
    }
    .textSection p {
        margin-left: 1%;
        font-size: 20px;
    }
    .textSection a {
        font-size: 16px;
    }
    .becomeSellerSection img {
        width: 100%;
        height: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
