.heroSection {
    width: 100%;
    height: 370px;
    background-color: #852400;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 100px;
    margin-left: 155px;
}

.image {
    height: 370px;
    width: fit-content;
    margin-right: 155px;
}

.latestProductsSection {
    margin: 50px 150px;
}

.sectionTitle {
    font-family: 'Texturina';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px solid #852400;
}