.headerMessageSuccess {
    color: #417505;
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    background-color: #F0F3EE;
    width: 100%;
    padding: 18px 160px;
    margin-top: 10px;
}

.headerMessageSuccess p {
    margin: 0px;
}

.headerMessageError {
    color: #AB944E;
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    background-color: #F6F2E5;
    width: 100%;
    padding: 18px 160px;
    margin-top: 10px;
}

.headerMessageError p {
    margin: 0px;
}
