.profileContainer {
    margin-top: 80px;
    padding: 30px;
}

.sectionContainer {
    width: 100%;
    border: 1px solid #852400;
    margin-bottom: 20px;
}

.sectionTitle {
    background-color: #FCFCFC;
    text-align: left;
    padding: 16px 32px;
    font-size: 24px;
    font-family: Texturina;
    font-weight: bold;
}

.buttonContainer {
    text-align: right;
    margin-bottom: 170px;
}

.saveButton {
    text-decoration: none;
    border: 3px solid #852400;
    background-color: inherit;
    padding: 10px 50px;
    font-weight: bold;
    font-size: 18px;
}

.saveButton:hover {
    text-decoration: none;
    border: 3px solid #DBAC24;
    background-color: inherit;
    padding: 10px 50px;
    font-weight: bold;
    font-size: 18px;
}

input[type="file"] {
    display: none;
}

.photoSection {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoContainer {
    width: 400px;
    height: 400px;
    border: 1px solid #852400;
    background-color: #FCFCFC;
}

.photoContainer img {
    width: 398px;
    height: 398px;
    object-fit: cover;
}

.photoContainer span {
    top: 50%;
    position: relative;
    font-weight: bold;
}

.uploadContainer {
    margin-top: 30px;
}

.photoUpload {
    border: 3px solid #852400;
    font-size: 18px;
    font-weight: bold;
    width: 400px;
    padding: 5px 0px;
    text-align: center;
}

.photoUpload:hover {
    border: 3px solid #DBAC24;
    font-size: 18px;
    font-weight: bold;
    width: 400px;
    padding: 5px 0px;
    text-align: center;
}

.infoContainer {
    text-align: left;
    margin-top: 24px;
    padding: 0px 30px;
}

.inputField {
    border: 1px solid #852400;
    background-color: #FCFCFC;
    width: 100%;
    padding: 18px 42px 18px 24px;
    margin-bottom: 24px;
    color: #9B9B9B;
}

.inputField:hover {
    border: 1px solid #DBAC24;
    background-color: #FCFCFC;
    width: 100%;
    padding: 18px 42px 18px 24px;
    margin-bottom: 24px;
    color: #9B9B9B;
}

.sameRowContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.smallInputField {
    border: 1px solid #852400;
    background-color: #FCFCFC;
    width: 30%;
    height: 63px;
    padding-left: 24px;
    margin-bottom: 24px;
    color: #9B9B9B;
}

.smallInputField:hover {
    border: 1px solid #DBAC24;
    background-color: #FCFCFC;
    width: 30%;
    height: 63px;
    padding-left: 24px;
    margin-bottom: 24px;
    color: #9B9B9B;
}

.rightAlignContainer {
    margin-top: 24px;
    margin-left: 50%;
    text-align: left;
    padding: 0px 15px;
}

.mediumInputField {
    border: 1px solid #852400;
    background-color: #FCFCFC;
    width: 40%;
    height: 63px;
    padding-left: 24px;
    margin-bottom: 24px;
    color: #9B9B9B;
}

.mediumInputField:hover {
    border: 1px solid #DBAC24;
    background-color: #FCFCFC;
    width: 40%;
    height: 63px;
    padding-left: 24px;
    margin-bottom: 24px;
    color: #9B9B9B;
}

.cityLabelsContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.headerMessageSuccess {
    color: #417505;
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    background-color: #F0F3EE;
    height: 60px;
    width: 100%;
    padding: 18px 160px;
    margin-top: 10px;
}

.headerMessageError {
    color: #AB944E;
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    background-color: #F6F2E5;
    height: 60px;
    width: 100%;
    padding: 18px 160px;
    margin-top: 10px;
}
 
@media screen and (max-width: 768px) {
    .photoContainer {
        width: 200px;
        height: 200px;
        border: 1px solid #852400;
        background-color: #FCFCFC;
    }
    .photoContainer img {
        width: 198px;
        height: 198px;
        object-fit: cover;
    }
    .photoUpload {
        border: 3px solid #852400;
        font-size: 18px;
        font-weight: bold;
        width: 200px;
        padding: 5px 0px;
        text-align: center;
    }
    .photoUpload:hover {
        border: 3px solid #DBAC24;
        font-size: 18px;
        font-weight: bold;
        width: 200px;
        padding: 5px 0px;
        text-align: center;
    }
    .rightAlignContainer {
        margin: 0px;
    }
}
