.settingsContainer {
    margin-top: 80px;
    margin-bottom: 100px;
}

.settingsSection {
    border: 1px solid #852400;
    text-align: left;
    width: 40%;
    margin-bottom: 50px;
}

.sectionHeader {
    background-color: #FCFCFC;
    padding: 16px 32px;
    font-size: 24px;
    font-weight: bold;
    font-family: Texturina;
}

.sectionContent {
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button {
    border: 3px solid #852400;
    background-color: inherit;
    padding: 12px 32px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    text-align: center;
    margin: 30px 0px;
}

.button:hover {
    border: 3px solid #DBAC24;
    background-color: inherit;
    padding: 12px 32px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    text-align: center;
    margin: 30px 0px;
}

.headerMessageSuccess {
    color: #417505;
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    background-color: #F0F3EE;
    height: 60px;
    width: 100%;
    padding: 18px 160px;
    margin-top: 10px;
}

.headerMessageError {
    color: #AB944E;
    text-align: start;
    font-weight: bold;
    font-size: 16px;
    background-color: #F6F2E5;
    height: 60px;
    width: 100%;
    padding: 18px 160px;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .settingsContainer {
        padding: 0px 30px;
    }
    .settingsSection {
        width: 100%;
    }
}
