.table {
    text-align: left;
    margin-bottom: 100px;
}

.headerRow {
    background-color: #FCFCFC;
    font-weight: normal;
    padding: 20px;
    border-bottom: 1px solid #852400;
    font-weight: bold;
}

.contentRow {
    padding: 20px;
}

.verticalCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nameLink {
    text-decoration: none;
    color: inherit;
}

.nameLink:hover {
    color: #DBAC24;
}

.tableImages {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.tableButton {
    text-decoration: none;
    border: 1px solid #DBAC24;
    background-color: inherit;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    text-align: center;
}

.tableButton:hover {
    text-decoration: none;
    border: 1px solid #852400;
    background-color: inherit;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    text-align: center;
}

.input {
    width: 30%;
    text-align: center;
    align-items: center;
}

.statusCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #DBAC24;
}
