.itemContainer {
  height: 400px;
}

.photo {
  width: 262px;
  height: 262px;
  object-fit: contain;
}

.title {
  text-align: center;
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
}

.price {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.itemLink {
  text-decoration: none;
  color: inherit;
  text-align: left;
}

.itemLink:hover {
  color: #852400;
}

.viewButton {
  background-color: #DBAC24;
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
}

.viewButton:hover {
  background-color: #852400;
  color: #fff;
}
